/*---------------------------
    Color Theme
---------------------------*/
// basic colour
$white: #fff;
$black: #252525;
$light-black: rgb(191, 189, 189);
$green: #A3EB97;
$light-green: #68C4AF;
// $light-grey: #EFEDED;
$light-grey: #6B6868;
$ex-light-grey: rgba(235, 235, 235, .5);
$pink: rgba(255,192,203, 1);
$light-blue: #0099ff;

// background colour
$main-bg: #ebebeb;

// primary colour
$main-colour: #e51228;
$tag-colour: #ffff00;

$error: #FF0000;


/*---------------------------
    Fonts
---------------------------*/
$body-font: 'Roboto', 'Lato';
$heading-font: 'Oswald', Calibri;

/*---------------------------
    MEDIA QUERY
---------------------------*/
@import '_mediaquery.scss';


/*---------------------------
    Grid System
---------------------------*/
@import '_grid.scss';


/*---------------------------
    Utilities
---------------------------*/
// hack for preventing the height of window from being resizing on mobile and tablet.
@mixin prevent-resize($selectors:()) {
    $len: length($selectors);
    $transition: "";

    @for $i from 1 through $len {
        @if $i == 1 {
            $transition: #{nth($selectors, $i)} 100000000s ease
        } @else {
            $transition: $transition, #{nth($selectors, $i)} 100000000s ease
        }
    }
    // @debug $transition;

    @include respond-to(s-m) {
        transition: $transition;
    }

    @include respond-to(m-l) {
        transition: $transition;
    }
}

@function pxToPercent( $parentPxWidth, $pxWidth ){
    @return floor((( $pxWidth / $parentPxWidth ) * 10000% )) / 100;
}





